{% extends 'admin/change_list.html' %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="sync_all_tddq/" class="btn btn-high btn-success">
            Update All TDDQ Responses
        </a>
    </li>
    {% if not is_popup and has_add_permission and has_change_permission %}
        <li><a href="{% url opts|admin_urlname:'recoverlist' %}" class="recoverlink">{% blocktrans with cl.opts.verbose_name_plural|escape as name %}Recover deleted {{name}}{% endblocktrans %}</a></li>
    {% endif %}
    {{ block.super }}
{% endblock object-tools-items %}
