<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <style>
        @media all {
            /* region: GLOBAL START */
            html,
            body, p {
                margin: 0;
                padding: 0;
            }
        }
    </style>
</head>
<body>
<table
        align="center"
        style="background-color: #ffffff;border-collapse: separate;max-width: 600px;border: none;"
>
    <tbody>
    <tr>
        <td
                colspan="3"
                class="hero"
        >
            <img
                    src="https://laika-static-documents.s3.amazonaws.com/Email+Templates/header.png"
                    style="width: 100%;"
            />
        </td>
    </tr>
    <tr>
        <td
                colspan="2"
                class="hero"
                style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 14px;color: #232735;padding: 60px 60px 0px;width: 100%;margin: 0 auto;">
            {% if audit_completed %}
                <div style="text-align: center;width: 100%;">
                    {% if audit_type == 'SOC 2 Type 1' %}
                        <img style=" margin-bottom: 30px;width: 235px; height: 212px;" src="https://laika-static-documents.s3.amazonaws.com/Email+Templates/SOC2-Type1.png" />
                    {% endif %}
                    {% if audit_type == 'SOC 2 Type 2' %}
                        <img style=" margin-bottom: 30px;width: 235px; height: 212px;" src="https://laika-static-documents.s3.amazonaws.com/Email+Templates/SOC2-Type2.png" />
                    {% endif %}
                </div>
            {% endif %}
            <h1 style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 24px;color: #232735;width: 100%;margin: 0;">
                {{ status_title }}
            </h1>
            <p style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 14px;color: #232735;line-height: 24px;font-weight: 400;margin-top: 32px;">
                {{ status_description }}
            </p>
        </td>
    </tr>
    <tr align="center">
        <td>
            <a href={{ call_to_action_url }} target="_blank" rel="noopener">
                <button align="center" style="background: #4C3068;
                margin-top: 32px;
                height: 40px;
                width: 264px;
                color: #FFFFFF;
                font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;
                font-size: 12px;
                line-height: 16px;
                cursor: pointer;
                font-weight: bold;
                border: none;
                border-radius: 2px;">
                    {{ status_cta }}
                </button>
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 100px;"></td>
    </tr>
    <tr>
        <td style="padding: 34px 27px;background-color: #FBFDFF">
            <p class="footer"
               style="margin: 0;color: #232735;font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;font-size: 13px;line-height: 24px;text-align: center;">
                <img
                    src="https://laika-static-documents.s3.amazonaws.com/Email+Templates/logo-footer.png"
                    style="width: 78px;max-width: 78px;height: auto;"
                />
            </p>
            <div
              style="margin: 1.5rem 0 3rem 0;color: #9d92a8;font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;font-size: 12px;line-height: 20px;text-align: center;"
            >
              <p>Copyright ©{% now 'Y' %} Laika Inc.</p>
              <p>Want to unsubscribe or change how often you receive these emails?</p>
              <a
                href="#"
                style="color: #7AACDE;text-decoration:underline;font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;font-size: 12px;line-height: 20px;text-align: center;"
              >
                Update Your Email Preferences
              </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
