{% extends "admin/change_list_object_tools.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
      <a href="/admin/monitor/monitor_playground">
        Monitor playground
      </a>
    </li>
    {% if has_add_permission %}
    <li>
      {% url cl.opts|admin_urlname:'add' as add_url %}
      <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
        {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
      </a>
    </li>
    {% endif %}
    {% endblock %}
  </ul>
{% endblock %}
