<!DOCTYPE html>
<html lang="en"
  style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 13px;color: #232735;background-color: #cccccc;margin: 0;">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>

<body
  style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 13px;color: #232735;background-color: #cccccc;margin: 0;padding: 24px;">
  <table align="center" style="background-color: #ffffff;border-collapse: separate;max-width: 600px;">
    <tbody>
      <tr>
        <td colspan="3" class="hero"
          style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 13px;color: #232735;padding-top: 24px;padding-bottom: 24px;text-align: center;">
          <img src="https://laika-static-documents.s3.amazonaws.com/Email+Templates/logo-header.png"
            style="width: 95px;max-width: 95px;height: auto;display: block;margin: 0 auto;" />
        </td>
      </tr>
      <tr>
        <td colspan="3" class="hero"
          style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 13px;color: #232735;background-color: #f8fafd;padding-top: 24px;padding-bottom: 24px;text-align: center;">
          <img src="https://laika-static-documents.s3.amazonaws.com/Email+Templates/forgot-password.png"
            style="display: block;margin: 0 auto;width: 90%;max-width: 328px;height: auto;" />
          <p style="
            font-family: Rubik;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            ">Expired password?</p>
          <p style="
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            ">Let’s get you a new one.</p>
        </td>
      </tr>
      <tr>
        <td class="spacer"
          style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 13px;color: #232735;background-color: #ffffff;width: 12px;">
          &nbsp;
        </td>
        <td class="contents"
          style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 13px;color: #232735;background-color: #ffffff;">
          <p
            style="margin: 0;padding: 18px 0 0 0;color: #232735;font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;font-size: 13px;line-height: 24px;text-align: justify;">
            Your password has expired and needs to be updated!
          </p>
          <p
            style="margin: 0;padding: 18px 0 0 0;color: #232735;font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;font-size: 13px;line-height: 24px;text-align: justify;">
            To change your password, you’ll need to enter the verification code: <b class="highlight"
              style="font-weight: normal;color: #7AACDE;">{{ verification_code }}</b><br />
          </p>
          <p
            style="margin: 0;padding: 18px 0 0 0;color: #232735;font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;font-size: 13px;line-height: 24px;text-align: justify;">
            If you have questions or concerns, please contact
            <a href="mailto:support@heylaika.com"
              style="color: #3399FF; text-decoration: none;">support@heylaika.com.</a>
          </p>
          <p class="footer"
            style="margin: 0;padding: 40px 0 0 0;color: #232735;font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;font-size: 13px;line-height: 24px;text-align: center;">
            <img src="https://laika-static-documents.s3.amazonaws.com/Email+Templates/logo-footer.png"
              style="width: 78px;max-width: 78px;height: auto;" />
          </p>
          <p
            style="margin: 0;padding: 18px 0 0 0;color: #232735;font-family: Roboto, Rubik, Arial, Helvetica, Verdana, sans-serif;font-size: 13px;line-height: 24px;text-align: justify;">
            &nbsp;
          </p>
        </td>
        <td class="spacer"
          style="font-family: Rubik, Arial, Verdana, sans-serif;font-size: 13px;color: #232735;background-color: #ffffff;width: 12px;">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>